.App {
  text-align: center;
  font-family: "Courier New", monospace;
  width: 100%;
}

h1 {
  font-weight: normal;
  font-size: 42px;
}

.anime {
  list-style: none;
  padding: 0;
  font-size: 32px;
  margin-bottom: 2em;
  display: none;
}

.more {
  font-size: 32px;
  font-family: "Courier New", monospace;
  border: 2px solid #000;
  background-color: #fff;
  padding: 10px 25px;
}
.more:hover {
  background-color: #FDD836;
}
.more:active {
  background-color: #FFEFA9;
}
#monkey1{

  position: relative;
}
#monkey2{
  background-image: url("https://classroomclipart.com/images/gallery/Clipart/Animals/Monkey_Clipart/TN_cute-monkey-character-hanging-on-branch-clipart-614.jpg");
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  display: block;
  margin: auto;
  margin-bottom: -90px;
}
